/* CATALOG */
.catalog__content {
  display: flex;
  padding: 120px 120px 35px 120px;
  justify-content: space-between;
  gap: 45px;
}

.catalog__section {
  display: flex;
  flex-direction: column;
}

.catalog__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog__section--left {
  justify-content: start;
  flex: 1.5;
}

.catalog__section--right {
  justify-content: end;
  flex: 1.5;
}

.catalog__section--center {
  flex: 4;
}
.catalog__image {
  border-radius: 8px;
}
.catalog__heading {
  font-size: 44px;
  font-weight: 350;
}

.catalog__heading--blue {
  color: var(--color-blue);
}

.catalog__heading--red {
  color: var(--color-red);
}

.catalog__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-text);
}

.catalog__button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  cursor: pointer;
  font-size: 12px;
  color: var(--color-midnight);
}

.catalog__button--blue {
  background: linear-gradient(90deg, #17bbeb 0%, #3070e7 100%);
}

.catalog__button--blue:hover {
  background: var(--color-blue);
}

.catalog__button--red {
  background: linear-gradient(90deg, #ffa700 0%, #ff027e 100%);
}

.catalog__button--red:hover {
  background: #fea800;
}