/* CONTAINER */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px;
}

/* APPEAR ANIMATION */
@keyframes appear {
  0% {
    opacity: 0;
    top: 10px;
  }
  60% {
    opacity: 0;
    top: 0.65px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}

/* RISE ANIMATION*/
@keyframes rise {
  0% {
    opacity: 0;
    top: 30px;
  }
  10% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

/* SPEAKERS RISE ANIMATION */
@keyframes speaker-rise {
  0% {
    opacity: 0;
    top: 30px;
    background-position-x: 200%;
    background-color: #07182d;
  }
  10% {
    opacity: 0;
    box-shadow: 0 0px 14px 0 rgba(17, 20, 56, 0);
    background-position-x: 200%;
    background-color: #07182d;
  }
  50% {
    background-color: #07182d;
  }
  51% {
    background-color: #ffffff;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
    box-shadow: 0 8px 14px 0 rgba(17, 20, 56, 0.4);
    background-position-x: -60%;
    background-color: #ffffff;
  }
}

/* SPEAKER BORDER ANIMATION */
@keyframes speaker-border {
  0% {
    background-position-x: 200%;
    background-color: #07182d;
  }
  10% {
    background-position-x: 200%;
    background-color: #07182d;
  }
  50% {
    background-color: #07182d;
  }
  51% {
    background-color: #ffffff;
  }
  100% {
    background-position-x: -60%;
    background-color: #ffffff;
  }
}

/* CARD RISE ANIMATION */
@keyframes card-rise {
  0% {
    opacity: 0;
    top: 30px;
  }
  10% {
    opacity: 0;
    box-shadow: 0px 0px 44px 0px rgba(26, 127, 164, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
    box-shadow: 0px 14px 44px 0px rgba(26, 127, 164, 0.17);
  }
}

/* CALL-TO-ACTION BURN ANIMATION */
@keyframes cta-burn {
  0% {
    opacity: 0;
    background-position-x: 200%;
    background-color: #ffffff;
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  10% {
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  40% {
    color: rgba(24, 32, 47, 1);
  }
  50% {
    background-color: #ffffff;
  }
  51% {
    background-color: #18202f;
  }
  70% {
    padding-right: var(--Margin, 24px);
  }
  100% {
    opacity: 1;
    background-position-x: 0%;
    background-color: #18202f;
    color: rgba(24, 32, 47, 1);
    padding-right: var(--Margin, 24px);
  }
}

/* CALL-TO-ACTION ARROW ANIMATION */
@keyframes cta-arrow-burn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

/* CALL-TO-ACTION BURN INVERSE ANIMATION */
@keyframes cta-burn-inv {
  0% {
    background-position-x: 200%;
    background-color: #07182d;
    color: rgba(24, 32, 47, 0);
    padding-right: 60%;
  }
  10% {
    color: rgba(24, 32, 47, 0);
    padding-right: 60%;
  }
  40% {
    color: rgba(24, 32, 47, 1);
  }
  50% {
    background-color: #07182d;
  }
  51% {
    background-color: #ffffff;
  }
  70% {
    padding-right: var(--Margin, 24px);
  }
  100% {
    background-position-x: 0%;
    background-color: #ffffff;
    /* color: rgba(24, 32, 47, 1);  */
    color: #07182d;
    padding-right: var(--Margin, 24px);
  }
}

/* TEXT BURN ANIMATION */
@keyframes text-burn {
  0% {
    background-position-x: 200%;
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  100% {
    background-position-x: 0%;
    opacity: 1;
  }
}

/* GRADIENT GROW ANIMATION */
@keyframes scalegradient {
  0% {
    background-size: 55%;
  }
  20% {
    background-size: 59%;
  }
  30% {
    background-size: 60%;
  }
  50% {
    background-size: 67%;
  }
  65% {
    background-size: 77%;
  }
  85% {
    background-size: 85%;
  }
  95% {
    background-size: 95%;
  }
  100% {
    background-size: 100%;
  }
}
/* ANIMATION TO ALL CHILDREN CONTROL */
.animation-onscroll-paused * {
  animation: none !important;
  visibility: hidden;
}
.animation-onscroll-paused {
  animation: none !important;
  visibility: hidden;
}
