.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0px;
}

@keyframes rise {
  0% {
    opacity: 0;
    top: 30px;
  }
  10% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes speaker-rise {
  0% {
    opacity: 0;
    top: 30px;
    background-position-x: 200%;
    background-color: #07182d;
  }
  10% {
    opacity: 0;
    box-shadow: 0 0px 14px 0 rgba(17, 20, 56, 0);
    background-position-x: 200%;
    background-color: #07182d;
  }
  50% {
    background-color: #07182d;
  }
  51% {
    background-color: #ffffff;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
    box-shadow: 0 8px 14px 0 rgba(17, 20, 56, 0.4);
    background-position-x: -60%;
    background-color: #ffffff;
  }
}

@keyframes speaker-border {
  0% {
    background-position-x: 200%;
    background-color: #07182d;
  }
  10% {
    background-position-x: 200%;
    background-color: #07182d;
  }
  50% {
    background-color: #07182d;
  }
  51% {
    background-color: #ffffff;
  }
  100% {
    background-position-x: -60%;
    background-color: #ffffff;
  }
}

@keyframes card-rise {
  0% {
    opacity: 0;
    top: 30px;
  }
  10% {
    opacity: 0;
    box-shadow: 0px 0px 44px 0px rgba(26, 127, 164, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
    box-shadow: 0px 14px 44px 0px rgba(26, 127, 164, 0.17);
  }
}

@keyframes text-burn {
  0% {
    background-position-x: 200%;
    background-color: #ffffff;
  }
  50% {
    background-color: #ffffff;
  }
  51% {
    background-color: #18202f;
  }
  100% {
    background-position-x: -50%;
    background-color: #18202f;
  }
}

@keyframes text-burn-inv {
  0% {
    background-position-x: 200%;
    background-color: #07182d;
  }
  50% {
    background-color: #07182d;
  }
  51% {
    background-color: #ffffff;
  }
  100% {
    background-position-x: -50%;
    background-color: #ffffff;
  }
}

@keyframes cta-burn {
  0% {
    background-position-x: 200%;
    background-color: #ffffff;
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  10% {
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  40% {
    color: rgba(24, 32, 47, 1);
  }
  50% {
    background-color: #ffffff;
  }
  51% {
    background-color: #18202f;
  }
  70% {
    padding-right: var(--Margin, 24px);
  }
  100% {
    background-position-x: 0%;
    background-color: #18202f;
    color: rgba(24, 32, 47, 1);
    padding-right: var(--Margin, 24px);
  }
}

@keyframes cta-burn-inv {
  0% {
    background-position-x: 200%;
    background-color: #07182d;
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  10% {
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  40% {
    color: rgba(24, 32, 47, 1);
  }
  50% {
    background-color: #07182d;
  }
  51% {
    background-color: #ffffff;
  }
  70% {
    padding-right: var(--Margin, 24px);
  }
  100% {
    background-position-x: 0%;
    background-color: #ffffff;
    color: rgba(24, 32, 47, 1);
    padding-right: var(--Margin, 24px);
  }
}

@keyframes card-rise {
  0% {
    opacity: 0;
    top: 30px;
  }
  10% {
    opacity: 0;
    box-shadow: 0px 0px 44px 0px rgba(26, 127, 164, 0);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
    box-shadow: 0px 14px 44px 0px rgba(26, 127, 164, 0.17);
  }
}

@keyframes rise {
  0% {
    opacity: 0;
    top: 30px;
  }
  10% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    top: 0;
  }
}

@keyframes text-burn {
  0% {
    background-position-x: 200%;
    background-color: #ffffff;
  }
  50% {
    background-color: #ffffff;
  }
  51% {
    background-color: #18202f;
  }
  100% {
    background-position-x: -50%;
    background-color: #18202f;
  }
}

@keyframes cta-burn {
  0% {
    background-position-x: 200%;
    background-color: #ffffff;
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  10% {
    color: rgba(24, 32, 47, 0);
    padding-right: 100px;
  }
  40% {
    color: rgba(24, 32, 47, 1);
  }
  50% {
    background-color: #ffffff;
  }
  51% {
    background-color: #18202f;
  }
  70% {
    padding-right: var(--Margin, 24px);
  }
  100% {
    background-position-x: 0%;
    background-color: #18202f;
    color: rgba(24, 32, 47, 1);
    padding-right: var(--Margin, 24px);
  }
}

.animation-onscroll-paused {
  animation: none !important;
  visibility: hidden;
}
