.party {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: center;
  overflow: hidden;
  padding: 35px 90px 80px 100px;
  background: rgb(168, 243, 255);
  background: radial-gradient(
    circle at 30% 60%,
    rgba(168, 243, 255, 1) 8%,
    rgba(255, 255, 255, 1) 32%
  );
}

.party__left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.party__left-imageone {
  margin-top: 101px;
  margin-right: 4px;
}

.party__heading--blue {
  font-size: 44px;
  color: var(--color-blue);
  font-style: normal;
  font-weight: 350;
  line-height: 115%;
  animation-name: rise;
  animation-duration: 1.8s;
  /* animation-delay: 0.3s; */
  position: relative;
  margin-bottom: 8px;
}

.party__paragraph {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  background-image: linear-gradient(
    to right,
    #18202f 0%,
    #18202f 16%,
    #1213af 52%,
    #255ef0 62%,
    #1cb9ff 74%,
    white 100%
  );
  background-position-x: 300%;
  background-repeat: no-repeat;
  background-size: 200% 100px;
  animation-fill-mode: forwards;
  background-clip: text;
  animation-name: text-burn;
  animation-duration: 3s;
}

.party__heading--blue,
.party__paragraph {
  position: relative;
  -webkit-mask-image: linear-gradient(90deg, black, black);
  mask-image: linear-gradient(90deg, black, black);
  -webkit-mask-size: 0% 100%;
  mask-size: 0% 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  animation: revealMask 2s forwards;
}

@keyframes revealMask {
  from {
    -webkit-mask-size: 0% 100%;
    mask-size: 0% 100%;
  }
  to {
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
}

/* Define keyframes for fade in and upward movement */
@keyframes fadeAndMove {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Group common animation rules for all images */
.party__imageone,
.party__imagetwo,
.party__imagethree {
  animation-name: fadeAndMove;
  animation-duration: 1.8s;
  animation-fill-mode: both; /* Applies both the initial and final keyframe states */
}

/* Apply staggered delays */
.party__imageone {
  animation-delay: 0.7s;
}

.party__imagetwo {
  animation-delay: 0.8s;
}

.party__imagethree {
  animation-delay: 0.7s;
}

.animation-onscroll-paused {
  animation-play-state: paused !important;
}
