/* MEDIA */
@media (min-width: 1441px) {
  /* PARTY */
  .party {
    padding: clamp(35px, 3vw, 80px) clamp(100px, 6vw, 200px)
      clamp(80px, 4vw, 120px) clamp(160px, 8vw, 250px);
  }

  .speakers__left {
    margin-left: 40px;
  }
}
/* DESKTOP SCREEN : 1440PX */
@media (width: 1440px) {
  /* CATALOG */
  .catalog__content {
    padding: 120px 110px 120px 119px;
  }
  /* HERO SECTION */
  .hearo-section__content {
    height: clamp(700px, 50vh, 900px);
    justify-content: center;
  }
  /* PARTY */
  .party__left {
    margin-left: -6px;
  }
}

/* TABLET LANDSCAPE SCREEN : 1133PX&1200PX */
@media (width: 1133px) {
  /* CATALOG */
  .catalog__content {
    padding: 112px 42px 63px 42px;
  }
  .catalog__image {
    width: 540px;
    margin-left: 24px;
  }
  /* PARTY SECTION */
  .party {
    gap: 60px;
  }
  .party__imageone {
    width: 423px;
    height: 317px;
    margin-left: 10px;
    margin-top: -12px;
  }
  .party__imagetwo {
    width: 250px;
    height: 381px;
  }
  .party__imagethree {
    width: 344px;
    height: 147px;
  }
  /* SPEAKERS */
  .speakers {
    padding: 98px 40px 90px 36px;
    --left-pad: 48px;
  }
  .speakers__card {
    width: 230px;
  }
  .speakers__card--description p {
    font-size: 14.5px;
  }
}

@media (max-width: 1200px) {
  /* HERO */
  .hero-section__content {
    padding: 58px 0 85px 42px;
    width: 50%;
  }
  .hero-section__video {
    object-fit: cover;
  }
  /* TIMELINE */
  .timeline-countdown-days,
  .timeline-countdown-hours,
  .timeline-countdown-minutes,
  .timeline-countdown-seconds {
    font-size: 34px;
    font-weight: 350;
    line-height: 42px;
  }
  .timeline-content {
    width: 47%;
    margin-left: 20px;
  }
  .timeline-container {
    padding: 40px;
  }
  /* CATALOG */
  .catalog__content {
    padding: 112px 42px 132px 42px;
    gap: 30px;
  }
  /* PARTY */
  .party {
    gap: 60px;
    padding: 35px 30px 81px 43px;
  }
  .party__left {
    margin-left: -10px;
  }
  .party__imageone {
    width: 261px;
    height: 381px;
  }
  .party__imagetwo {
    width: 423px;
    height: 318px;
  }
  .party__imagethree {
    width: 344px;
    height: 148px;
  }
  /* SPEAKERS */
  .speakers {
    padding: 98px 40px 90px 36px;
    --left-pad: 48px;
  }
  .speakers__card {
    width: 255px;
  }
  /* SOPONSERS */
  .sponsors {
    padding: 60px 42px 90px;
  }
  .sponsors__card {
    padding: 45px !important;
  }
}

/* SMALL TABLET LANDSCAPE SCREEN : 998PX */
@media (max-width: 998px) {
  /* HERO SECTION */
  .hero-section {
    background-color: var(--color-primary);
    color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
  }
  .hero-section__content {
    width: 58%;
    padding: 58px 0px 85px 42px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    z-index: 1;
  }
  .hero-section__description {
    padding-right: 0px;
  }
  /* TIMELINE */
  .timeline-container {
    padding: 40px 50px;
    flex-direction: column;
    gap: 0px;
  }
  .timeline-content {
    width: 95%;
    margin-bottom: 14px;
    max-width: none;
    width: 92%;
  }
  .timeline-start-marker {
    left: -40px;
  }
  /* PARTY */
  .party {
    flex-direction: column;
    align-items: flex-start;
  }
  .party__imageone {
    margin-top: -5px;
  }
  /* SPEAKERS */
  .speakers {
    flex-direction: column;
    padding: 98px 40px 90px 36px;
    --left-pad: 48px;
  }
  .speakers__left {
    width: 50%;
    margin-left: 10px;
  }
  /* CATALOG */
  .catalog__content {
    padding: 0px;
    flex-direction: column;
  }
  .catalog__section--center {
    order: 1;
    width: 100%;
    padding: 38px 40px 0px;
  }
  .catalog__section--left {
    width: 63%;
    order: 2;
    align-items: start;
    padding: 20px 0px 30px 40px;
  }
  .catalog__image {
    width: 100%;
  }
  .catalog__section--right {
    order: 3;
    padding: 15px 40px 110px 0px;
    width: 63%;
    margin-left: auto;
  }
  /* SPONSERS */
  .sponsors {
    padding: 60px 40px 90px;
  }
  .sponsors__cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .speakers-wrapper {
    flex-direction: row;
  }
}

@media (max-width: 1024px) {
  .full-bleed {
    padding-left: var(--left-pad);
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

/* TABLET POTRAIT SCREEN : 768PX $ 744PX*/
@media (width: 744px) {
  /* PARTY */
  .party__imageone {
    width: 252px;
    height: 367px;
  }
  .party__imagetwo {
    width: 407px;
    height: 306px;
  }
  .party__imagethree {
    width: 332px;
    height: 142px;
  }
}

@media (min-width: 744px) {
  .speakers__card {
    --dim: 40%;
  }
}

@media (min-width: 1133px) {
  .speakers__card {
    --dim: 33.33%;
  }
}

@media (max-width: 768px) {
  /* HERO SECTION */
  .hero-section {
    flex-direction: column;
    max-height: fit-content;
  }
  .hero-section__video {
    width: 100%;
    position: relative;
    object-fit: contain;
    margin: 0px 0px 30px;
  }
  .hero-section__content {
    padding: 30px 40px 104px;
    width: 100%;
    box-sizing: border-box;
  }
  /* TIMELINE */
  .timeline-countdown {
    margin-left: 0px;
    text-align: center;
  }
  .timeline-countdown-days,
  .timeline-countdown-hours,
  .timeline-countdown-minutes,
  .timeline-countdown-seconds {
    font-size: 34px;
    line-height: 42px;
  }
  /* TIMELINE */
  .timeline-start-marker {
    left: -42px;
  }
  /* CATALOG */
  .catalog__section--left {
    padding: 34px 0px 30px 40px;
  }
  /* PARTY */
  .party {
    flex-direction: column;
    align-items: flex-start;
  }
  .party__left-imageone {
    margin-top: 90px;
  }
  .party__right {
    width: 60%;
  }
  /* SPEAKERS */
  .speakers {
    overflow-x: hidden;
  }
  .speakers__left {
    width: 60%;
  }

  .speakers__toggle--dots {
    width: 20%;
  }
  /* SPONSERS */
  .sponsors__heading {
    text-align: center;
  }
}

/* MOBILE SCREEN : 568PX */
@media (max-width: 586px) {
  /* HERO SECTION */
  .hero-section__content {
    padding: 30px 30px 65px;
  }
  .hero-section__video {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .hero-section__title {
    font-size: 55px;
    line-height: 63px;
  }
  /* TIMELINE */
  .timeline-content {
    display: none;
  }
  .timeline-container {
    padding: 19px 30px 35px;
    display: block;
  }
  .timeline-countdown {
    font-size: 34px;
    text-align: center;
    margin-left: 0px;
    padding: 0px 30px;
  }
  /* CATALOG */
  .catalog__content {
    gap: 30px;
  }
  .catalog__section--center {
    padding: 0px;
  }
  .catalog__image {
    border-radius: 0px;
  }
  .catalog__section--right {
    padding: 20px 30px 100px;
    width: 100%;
  }
  .catalog__section--left {
    padding: 30px 30px 20px;
    width: 100%;
  }
  /* PARTY */
  .party {
    flex-direction: column;
    align-items: center;
    padding: 35px 0px 80px 0px;
  }
  .party__left {
    padding: 0px;
    margin: 0px;
  }
  .party__right {
    width: 80%;
  }
  .party__left-imageone {
    display: none;
  }
  .party__imagetwo {
    object-fit: cover;
    width: 100vw;
    height: auto;
  }
  /* SPEAKERS */
  .speakers__left {
    width: 100%;
  }
  .speakers__toggle--dots {
    width: 40%;
  }
  /* SPONSERS */
  .sponsors {
    padding: 60px 30px;
  }
  .sponsors__heading {
    text-align: left;
    margin-bottom: 30px;
  }
  .sponsors__cards {
    grid-template-columns: 1fr;
  }
  .sponsors__card {
    padding: 40px;
  }
}

@media (width <= 390px) {
  .speakers__card--description {
    height: 210px;
  }
}

@media (width <= 744px) {
  .speakers__toggle {
    padding-right: 24px;
  }
}
