.speakers {
  padding: 100px 120px 50px 120px;
  background: linear-gradient(
      90deg,
      var(--New-Blue, #07182d) 48.03%,
      #121b52 75.24%,
      #062560 92.36%,
      #042764 99.36%
    ),
    var(--New-Blue, #07182d);
  display: flex;
  justify-content: center;
  gap: 31px;
}

.speakers__heading--red {
  margin-bottom: 24px;
  font-size: 44px;
  font-weight: 350;
  color: var(--color-red);
  font-style: normal;
  line-height: 115%;
  animation-name: rise;
  animation-duration: 1.8s;
  position: relative;
}
.speakers__paragraph {
  margin-bottom: 24px;
  padding: 3px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-white);

  background-image: linear-gradient(
    to right,
    #18202f 0%,
    #18202f 16%,
    #ff007f 52%,
    #f15a23 62%,
    #fea800 74%,
    white 100%
  );
  background-position-x: 300%;
  background-repeat: no-repeat;
  background-size: 200% 100px;
  /* background-color: #fff; */
  animation-fill-mode: forwards;
  color: transparent;
  background-clip: text;
  animation-name: text-burn-inv;
  animation-delay: 0.3s;
  animation-duration: 3s;
}

.speakers__paragraph--inverted {
  background-image: linear-gradient(
    to right,
    #fff 0%,
    #fff 16%,
    #fea800 52%,
    #f15a23 62%,
    #ff007f 74%,
    #07182d 100%
  );
  background-color: #07182d;
}

.speakers__button {
  border: 8px solid white;
  display: flex;
  height: 38px;
  width: 100%;
  padding: 13px 24px 11px 24px;
  margin-top: var(--Half-Margin, 12px);
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 35px;
  border: none;
  background-image: linear-gradient(
    to right,
    #ffa700 0%,
    #ff027e 50%,
    #ff4fa5 62%,
    #ffb5e3 82%,
    white 100%
  );
  background-position-x: 200%;
  background-repeat: no-repeat;
  background-size: 200% 100px;
  background-color: #fff;
  animation-fill-mode: forwards;
  animation-name: cta-burn;
  animation-delay: 0.3s;
  animation-duration: 2.5s;
  color: rgba(24, 32, 47, 0);

  background-position-x: 200%;
  background-repeat: no-repeat;
  background-size: 200% 100px;
  background-color: #fff;
  animation-fill-mode: forwards;
  animation-name: cta-burn;
  animation-delay: 0.3s;
  animation-duration: 2.5s;
  color: rgba(24, 32, 47, 0);
}
.speakers__button--inverted {
  background-image: linear-gradient(
    to right,
    #ffa700 0%,
    #ff027e 50%,
    #b00459 62%,
    #3c0028 82%,
    #07182d 100%
  );
  animation-name: cta-burn-inv;
  background-color: #07182d;
}
.speakers__span {
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
}
.speakers__span--description {
  width: 99px;
}

.speakers__right {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.speakers__view {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.speakers__card {
  width: 283px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.speakers__card--image {
  align-self: stretch;
  border-radius: var(--Half-Margin, 12px);
  object-fit: cover;
  box-shadow: 0 0px 14px 0 rgba(17, 20, 56, 0);
  animation-name: rise;
  animation-duration: 1.8s;
  position: relative;
}
.speakers__card--wrapper {
  background-image: linear-gradient(
    to right,
    #fff 0%,
    #fff 16%,
    #fea800 52%,
    #f15a23 62%,
    #ff007f 74%,
    #07182d 100%
  );
  background-color: #07182d;
  background-position-x: 300%;
  background-repeat: no-repeat;
  background-size: 200% 100%;
  border-radius: 12px;
  box-shadow: 0 0px 14px 0 rgba(17, 20, 56, 0);
  opacity: 0;

  animation-fill-mode: forwards;
  animation-name: speaker-rise;
  animation-delay: 0.2s;
  animation-duration: 2.5s;
  position: relative;
}
.speakers__card--description {
  display: flex;
  height: 195px;
  margin: 1px;
  padding: var(--Margin, 24px) var(--Zilch, 0px) var(--Double-Margin, 48px)
    var(--Zilch, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Half-Margin, 12px);
  align-self: stretch;
  border-radius: 11px;
  background: var(--New-Blue, #07182d);
}

.speakers__card--description h3 {
  display: flex;
  padding: 0 var(--Margin, 24px);
  align-items: center;
  gap: 10px;
  align-self: stretch;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  opacity: 0;

  animation-fill-mode: forwards;
  animation-name: rise;
  animation-delay: 0.25s;
  animation-duration: 1.8s;
  position: relative;
}
.speakers__card--description .horizontalrule {
  width: 100%;
  height: 1px;
  border: 0;
  background-image: linear-gradient(
    to right,
    #fff 0%,
    #fff 16%,
    #fea800 52%,
    #f15a23 62%,
    #ff007f 74%,
    #07182d 100%
  );
  background-position-x: 300%;
  background-repeat: no-repeat;
  background-size: 200% 100%;
  background-color: #07182d;

  animation-fill-mode: forwards;
  animation-name: speaker-border;
  animation-delay: 0.2s;
  animation-duration: 2.5s;
  position: relative;
}
.speakers__card--description p {
  padding: 0px var(--Margin, 24px);
  align-items: center;
  gap: 10px;
  align-self: stretch;
  font-style: italic;
  opacity: 0;

  animation-fill-mode: forwards;
  animation-name: rise;
  animation-delay: 0.5s;
  animation-duration: 1.8s;
  position: relative;
}

.speakers__toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  animation-name: rise;
  animation-delay: 0.2s;
  animation-duration: 2.5s;
  position: relative;
}
.speakers__toggle--arrow {
  display: flex;
  align-items: center;
  gap: 24px;
}
.speakers__toggle--arrowleft,
.speakers__toggle--arrowright {
  width: 50px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.arrow_left {
  margin-left: 10px;
}
.arrow_right {
  margin-right: 10px;
}

.speakers__toggle--dots {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: 55%;
}

.dot.active {
  width: 70px;
  height: 7px;
  border-radius: 10px;
  background-color: white;
}
.dot.inactive {
  width: 10px;
  height: 7px;
  border-radius: 10px;
  background-color: #00a5e294;
}
